@import '_setting.scss';
.doctorProfile {
    &__container {
        margin: 0 120px;
        display: flex;
        padding: 20px 0;
        margin-bottom: 40px;
    }
    &__info {
        flex: 2;
        display: flex;
        &-img {
            width: 120px;
            img {
                border-radius: 50%;
            }
        }
        &-content {
            margin-left: 20px;
            span {
                display: inline-block;
                font-size: 20px;
                font-weight: 500;
                color: $primary-color;
                margin-bottom: 10px;
            }
        }
    }
    &__rate {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-point {
            font-size: 20px;
            color: $primary-color;
            font-weight: 500;
        }
        &-star-active {
            color: $primary-color;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .doctorProfile {
        &__container {
            margin: 0 $margin-tablet;
        }
    }
}
@media only screen and (max-width: 768px) {
    .doctorProfile {
        &__container {
            margin: 0 $margin-mobile;
            flex-direction: column;
            margin-bottom: 40px;
        }
        &__info {
            flex-direction: column;
            &-img {
                text-align: center;
                width: 100%;
                img {
                    width: 30%;
                }
            }
        }
    }
}
