@import '_setting.scss';
// .mainlayout-content {
//     // margin: 40px 0;
// }
.mainlayout-banner {
    position: relative;
    height: 300px;
    margin-bottom: 100px;
    .mainlayout-banner-content {
        background-color: #7BBAFF;

        &-slogan {
            height: 220px;
            margin: 0 120px;
            color: white;
            font-size: 30px;
            font-weight: 600;
            display: flex;
            align-items: center;
            &-content {
                text-align: center;
                
                span {
                    display: block;
                }
                width: 50%;
            }

        }
        &-img {
            position: absolute;
            top: 10px;
            right: 120px;
            img {
                width: 460px;
            }
        }
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mainlayout-banner-content {
        &-slogan {
            margin: 0 $margin-tablet !important;
        }
        &-img {
            right: $margin-tablet !important;
        }
    }
}
@media screen and (max-width: 768px){
    .mainlayout-banner {
        margin-bottom: 40px;
        &-content {
            &-slogan {
                margin: 0 $margin-mobile !important;
                &-content {
                    width: 100% !important;
                }
            }
            &-img {
                display: none;
            }
        }
    }
}