@import '_setting.scss';

.footer {
    padding: 20px 0;
    &-content {
        margin: 0 120px;
        display: flex;
    }
    &__app-info {
        flex: 2;
        &-logo {
            img {
                width: 40%;
            }
        }
        &-companyname {
            font-weight: 600;
            font-size: 20px;
        }
        span {
            display: block;
        }
    }
    &__services {
        flex: 1;
        display: flex;
        flex-direction: column;
        &-title {
            float: left; 
            font-weight: 600;
            font-size: 20px;
        }
        &-list {
            margin-top: 20px;
        }
        &-item {
            margin-bottom: 10px;
        }

    }
    &__support {
        flex: 1;
        display: flex;
        flex-direction: column;
        &-title {
            float: left; 
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 10px;
        }
        span {
            margin-bottom: 10px;
        }
        
    }
}

@media only screen and (max-width: 768px){
    .footer {
        &-content {
            margin: 0 $margin-mobile;
            flex-direction: column;
            gap: 20px;
        }
    }
}