@import '_setting.scss';
.timeTableItem {
    cursor: pointer;
    height: 50px;
    background-color: #EEEEEE;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
    &:hover {
        color: white;
        background-color: $hover-color;
    }
}